@tailwind base;
@tailwind components;
@tailwind utilities;


/* Default font size */
body {
  font-size: 16px;
}

/* Font sizes for smaller screens */
@media screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }
}

/* Font sizes for even smaller screens */
@media screen and (max-width: 480px) {
  body {
    font-size: 12px;
  }
}